page-normal-mode {
   
    #aa{
        width: 16.66%;
    }
    
    input { 
        text-align: center; 
        color: blue;
        font-size:30px;
       
        border-bottom: 1px solid red;
    }
        
}
