page-answer-hard-mode {
    #aa{
        width: 16.66%;
    }
    #bb{
        width: 1%;
    }
    
    input { 
        text-align: center; 
        color: white;
        font-size:30px;
        border: 0;
        outline: 0;
        background: #f53d3d;
       
       
    }
    .item { 
        
        background:  #f53d3d;
        border-bottom: 1px solid white;
        
    }
    

    .button {
        color: #f53d3d;
    }
}
